/*Side section style's*/
.side-bore {
  position: fixed;
  background-color: white;
  color: black;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 73px;
  align-items: center;
  box-shadow: 0 5px 3px rgb(0,0,0,0.1);
  border-top: none;
  z-index: 200;
}


.side-bore-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 15px;
  cursor: pointer;
}

.side-bore-flex:hover {
  background-color: lightgray;

}

.side-icon {
  width: 24px;
  margin-bottom: 5px;
}

.side-bore-flex div {
  font-size: 10px;
}