/*Title bore styles*/

.title-bor {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  border-width: 0.5px;
  justify-content: space-between;

  /*Change position in title bore*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  box-shadow: 0 1px 1px rgb(0,0,0,0.1);
  z-index: 100;
}

/*Left section*/

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 25px;
  margin: 0 23px;
}

.youtube-loge {
  height: 20px;
}

/*ceneter section*/

.center-section {
  display: flex;
  flex: 1;
  max-width: 470px;
  align-items: center;
  margin-left: 60px;
}

.Search-bore {
  flex: 1;
  height: 35px;
  border-radius: 3px;
  border: 1px solid rgb(192,192,192);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 12px;
  font-size: 16px;
  width: 0;
}

.Search-bore:hover {
  border-color: lightblue;
}

.Search-bore::placeholder {
  font-size: 16px;
}

.search-icon-button {
  width: 60px;
  height: 39px;
  margin-left: -2px;
  margin-right: 10px;
  border-width: 0.5px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

.search-icon {
  width: 23px;
}

.voice-search-button {
  width: 40px;
  height: 39px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.voice-search-icon {
  width: 25px;
}


/*Right section*/

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 182px;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  flex-shrink: 0;
}

.right-text-div {
  display: flex;
  justify-content: center;
}

.right-icons {
  width: 24px;
}

.profile-user {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 40px;
}

.notifications {
  position: relative;
}

.number-of-notifications {
  position: absolute;
  font-size: 11px;
  background-color: red;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 10px;
  top: -4px;
  right: -4px;
}



/*Tooltip section*/

.right-text-div,
.search-icon-button,
.voice-search-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-text-div .tooltip,
.voice-search-button .tooltip,
.search-icon-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
  white-space: nowrap;
}


.right-text-div:hover .tooltip,
.voice-search-button:hover .tooltip,
.search-icon-button:hover .tooltip {
  opacity: 1;
}


