
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 16px;
  margin-bottom: 20px;
}

.video-box {
  height: 250px;
  position: relative;
}

@media (max-width: 870px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 870px) and (max-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.trimmal-box {
  position: relative;
}

.trimmal {
  width: 100%;
  margin-bottom: 10px;
}

.time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 8px;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
}

.video-bottom-flex {
  display: flex;
  flex-direction: row;
}

.channel-profile {
  width: 36px;
}

.profile {
  width: 100%;
  border-radius: 50px;
}

.channel-profile:hover .preview-profile {
  position: relative;
  opacity: 1;
}

.preview-profile {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -10;
  width: 200px;
  height: 50px;
  background-color: white;
  z-index: 300;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.20s;
  pointer-events: none;
}

.preview-profile img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.preview-profile div {
  padding-left: 5px;
}

.preview-profile div h5 {
  font-weight: bold;
}

.preview-profile div p {
  margin-top: 5px;
  color: gray;
}

.channel-status {
  flex: 1;
  padding-left: 10px;
}

.video-title {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-name {
  margin-top: 8px;
}

.video-author {
  font-size: 12px;
  color: gray;
}

.video-status {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 12px;
  color: gray;
}